@model CreateTaskViewModel

@{
    ViewData["Title"] = "Criar tarefa";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/create_task_page.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/form_task.min.css")" />
}

<div id="create-task-page">
    <nav>
        <a class="home-link" href="@Url.Action("Index", "Home")">Voltar</a>
    </nav>

    <form name="form-create-task" asp-action="CreateTask" method="post">
        <h2>Inserir nova tarefa</h2>

        <div id="form-container">

            <div class="error" asp-validation-summary="ModelOnly"></div>

            <div class="input-wrapper">
                <label asp-for="TaskName"></label>
                <input class="field" asp-for="TaskName" type="text" minlength="3" maxlength="50" required />
                <span class="error" asp-validation-for="TaskName"></span>
            </div>

            <div class="input-wrapper">
                <label asp-for="TaskPriority"></label>
                <select class="field" asp-for="TaskPriority" asp-items="Model.Priorities" required></select>
                <span class="error" asp-validation-for="TaskPriority"></span>
            </div>

            <div class="input-wrapper">
                <label asp-for="TaskDescription"></label>
                <textarea class="field" asp-for="TaskDescription" minlength="3" maxlength="8000" placeholder="Adicione uma descrição para a tarefa" required></textarea>
                <span class="error" asp-validation-for="TaskDescription"></span>
            </div>

            <section class="last-fields">
                <div class="input-wrapper">
                    <label asp-for="TaskDate"></label>
                    <input class="field" asp-for="TaskDate" type="date" required />
                    <span class="error" asp-validation-for="TaskDate"></span>
                </div>

                <div class="input-wrapper">
                    <label asp-for="CategoryName"></label>
                    <input class="field" asp-for="CategoryName" type="text" minlength="3" maxlength="50" required />
                    <span class="error" asp-validation-for="CategoryName"></span>
                </div>
            </section>


            <input type="submit" value="Salvar tarefa" />
        </div>
    </form>
</div>