@model EditorTaskViewModel

@{
    ViewData["Title"] = "Criar tarefa";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/create_task_page.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/form_task.min.css")" />
}

<div id="create-task-page">
    <nav>
        <a class="home-link" href="@Url.Action("Index", "Home")">Voltar</a>
    </nav>

    <form name="form-create-task" asp-action="CreateTask" method="post">
        <h2>Inserir nova tarefa</h2>

        <div id="form-container">

            <div class="error" asp-validation-summary="ModelOnly"></div>

            @await Html.PartialAsync("_FormTask", Model)

            <input type="submit" value="Salvar tarefa" />
        </div>
    </form>
</div>