
@{
    ViewBag.Title = "Excluir tarefa";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height , initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Manager</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/css/reset.min.css")" />
    <link href="@Url.Content("~/css/delete_task_page.min.css")" rel="stylesheet" />
</head>
<body>
    <h2>Deletar tarefa</h2>
</body>
</html>