@model EditorTaskViewModel

@{
    ViewBag.Title = "Editar Tarefa";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/edit_task_page.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/form_task.min.css")" />
}

<div id="edit-task-page">
    <nav>
        <a class="home-link" href="@Url.Action("Index", "Home")">Voltar</a>
    </nav>

    <form asp-action="EditTask" asp-controller="Task" method="post">
        <h2>Editar tarefa</h2>

        <div id="form-container">
            <div class="error" asp-validation-summary="ModelOnly"></div>

            <input type="hidden" asp-for="TaskID" />

            <input type="hidden" asp-for="CategoryID" />

            @Html.PartialAsync("_FormTask", Model);

            <input type="submit" value="Salvar Alterações" />
        </div>
    </form>
</div>