@model ICollection<TaskManager.Web.Models.Task>

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/home_page.min.css")" />
}

<div id="home-page">
    <div class="home-page-container">
        <h1 class="welcome-message">Seja bem-vindo ao Gerenciador de Tarefas</h1>

        <header class="menu-bar-home-page">
            <p>Suas tarefas:</p>
            <button>Adicionar tarefa</button>
        </header>

        @if (Model == null || Model.Count() == 0)
        {
            <figure class="figure-balloon-empty">
                <img src="@Url.Content("~/img/balloon-empty.svg")" alt="Balão vazio" />
                <figcaption>Oops... Parece que você não tem nenhuma tarefa cadastrada.</figcaption>
            </figure>
        }
        else
        {
            <section class="home-page-content">
                <main class="content-main">
                    <div class="task-wrapper">
                        <div class="task-wrapper-content">
                            <h4>Título</h4>
                            <p>Categoria</p>
                            <p>Descrição</p>
                            <p>Data tarefa</p>
                        </div>
                        <div class="tas-wrapper-buttons"></div>
                    </div>
                </main>
            </section>
        }
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/home_page.min.js")"></script>
}