#create-task-page {
    padding-bottom: 3rem;
    padding-top: 1rem;
}

    #create-task-page > nav {
        width: 80vw;
    }

    #create-task-page > nav {
        display: flex;
        justify-content: flex-end;
        margin: 1rem auto;
    }

        #create-task-page > nav > .home-link {
            border-radius: .3rem;
            font-size: 1.8rem;
            padding: 0.3rem 1.5rem;
            background-color: var(--color-second-dark);
            color: var(--color-second-light);
            font-weight: bold;
        }

            #create-task-page > nav > .home-link:hover,
            #create-task-page > nav > .home-link:active {
                background-color: #1D3557ED;
            }

    

.footer {
    position: static;
}

@media(min-width: 768px) {
    #create-task-page > nav {
        width: 70vw;
    }

        #create-task-page > nav > .home-link {
            padding: .7rem 2rem;
        }
}

@media (min-width: 1024px) {
    #create-task-page > nav {
        width: 65rem;
    }
}
