:root {
    font-size: 62.5%;
    --color-first: #E63946;
    --color-second: #457B9D;
    --color-second-dark: #1D3557;
    --color-second-light: #A8DADC;
    --color-white: #F1FAEE;
}

* {
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-task-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.5rem;
    height: 50vh;
}

@keyframes show_image {
    0% {
        opacity: 0;
        margin-bottom: 1rem;
    }
    50% {
        opacity: 0.5;
        margin-bottom: 2rem;
    }
    100% {
        opacity: 1;
        margin-bottom: 3rem;
    }
}

.delete-success-img {
    width: 50%;
    animation: show_image .6s ease;
    margin-bottom: 3rem;
}

.result-message,
.redirect-message {
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-second-dark);
    text-align: center;
}

redirect-message > a {
    color: var(--color-second);
}

@media(min-width: 768px) {
    .delete-success-img {
        width: 35%;
    }
}

@media(min-width: 1024px) {
    a {
        cursor: pointer;
    }
}