h1 {
    font-size: 2.2rem;
    color: var(--color-second-dark);
    text-align: center;
}

.home-page-container {
    width: 75vw;
    margin: 2rem auto;
}

    .home-page-container > .menu-bar-home-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
    }

        .home-page-container > .menu-bar-home-page > p {
            color: var(--color-second);
            font-size: 1.5rem;
            margin: 1rem;
        }

        .home-page-container > .menu-bar-home-page > button {
            color: var(--color-white);
            background-color: var(--color-second);
            border: none;
            border-radius: .3rem;
            font-size: 1.4rem;
            padding: .5rem 1rem;
            transition: background-color .3s;
        }

            .home-page-container > .menu-bar-home-page > button:hover,
            .home-page-container > .menu-bar-home-page > button:active {
                background-color: #1D3557EE;
                cursor: pointer;
            }

            .home-page-container > .figure-balloon-empty > img {
                width: 100%;
            }

    .home-page-container > .figure-balloon-empty > figcaption {
        font-size: 1.5rem;
        margin-top: 1rem;
        color: var(--color-second);
    }

.footer {
    position: static;
}

@media(min-width: 768px) {
    .home-page-container > .menu-bar-home-page {
        flex-direction: row;
    }

    .home-page-container > .figure-balloon-empty {
        width: 20rem;
        margin: auto;
    }

    .home-page-container > .figure-balloon-empty > figcaption {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media(min-width: 1024px) {
    .welcome-message {
        margin-bottom: 2rem;
    }

    .home-page-container > .menu-bar-home-page {
        width: 50rem;
        justify-content: space-between;
    }

    .home-page-container > .menu-bar-home-page > p,
    .home-page-container > .menu-bar-home-page > button,
    .home-page-container > .figure-balloon-empty > figcaption {
        font-size: 1.7rem;
    }

    .home-page-container > .figure-balloon-empty {
        width: 40rem;
    }
}
