h1 {
    font-size: 2.2rem;
    color: var(--color-second-dark);
    text-align: center;
}

.home-page-container {
    width: 75vw;
    margin: 2rem auto;
}

    .home-page-container > .menu-bar-home-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
    }

        .home-page-container > .menu-bar-home-page > p {
            color: var(--color-second);
            font-size: 1.5rem;
            margin: 1rem;
        }

        .home-page-container > .menu-bar-home-page > button {
            color: var(--color-white);
            background-color: var(--color-second);
            border: none;
            border-radius: .3rem;
            font-size: 1.4rem;
            padding: .5rem 1rem;
            transition: background-color .3s;
            font-weight: bold;
            text-transform: uppercase;
        }

            .home-page-container > .menu-bar-home-page > button:hover,
            .home-page-container > .menu-bar-home-page > button:active {
                background-color: #1D3557EE;
                cursor: pointer;
            }

    .home-page-container > .figure-balloon-empty > img {
        width: 100%;
    }

    .home-page-container > .figure-balloon-empty > figcaption {
        font-size: 1.5rem;
        margin-top: 1rem;
        color: var(--color-second);
    }

    .home-page-container > .home-page-content {
        background: var(--color-second-light);
        padding: 1rem;
        border-radius: .3rem;
        box-shadow: var(--color-second) -1rem 1rem;
    }

.home-page-content > .task-wrapper {
    background-color: var(--color-second-dark);
    padding: .8rem;
    display: flex;
    color: var(--color-second-light);
    font-size: 1.5rem;
    border-radius: .3rem;
}

    .home-page-content > .task-wrapper + .task-wrapper {
        margin-top: 0.8rem;
    }

    .home-page-content > .task-wrapper > .task-wrapper-content {
        flex: 1;
        line-height: 2rem;
    }

        .home-page-content > .task-wrapper > .task-wrapper-content > h4 {
            margin-bottom: .6rem;
        }

    .home-page-content > .task-wrapper > .task-wrapper-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .home-page-content > .task-wrapper > .task-wrapper-buttons img {
            width: 3.4rem;
            cursor: pointer;
        }

            .home-page-content > .task-wrapper > .task-wrapper-buttons img:first-child {
                margin-bottom: .5rem;
            }

#home-page > .modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0rem;
    left: 0rem;
    display: none;
}

    #home-page > .show-modal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.modal-container > .modal {
    background-color: var(--color-second);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1.4rem;
    border-radius: .2rem;
    width: 80%;
}

    .modal-container > .modal > .close-modal {
        background-color: transparent;
        border: none;
        color: var(--color-first);
        text-transform: uppercase;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        font-weight: bold;
        position: relative;
        top: -1rem;
        right: -1rem;
        cursor: pointer;
    }

    .modal-container > .modal > .modal-question {
        font-size: 1.6rem;
        color: var(--color-white);
        font-weight: bold;
        text-align: center;
        margin: 1rem 0 2rem;
    }

    .modal-container > .modal > form[name="delete-task"] > .button-delete {
        background-color: var(--color-first);
        border: none;
        border-radius: 0.2rem;
        padding: 0.7rem 1rem;
        text-transform: uppercase;
        color: var(--color-white);
        font-weight: bold;
        font-size: 1.7rem;
        cursor: pointer;
    }

    .footer {
        position: static;
    }

@media(min-width: 768px) {
    .home-page-container > .menu-bar-home-page {
        flex-direction: row;
        justify-content: space-between;
    }

    .home-page-container > .figure-balloon-empty {
        width: 20rem;
        margin: auto;
    }

        .home-page-container > .figure-balloon-empty > figcaption {
            font-size: 1.5rem;
            text-align: center;
        }

    .home-page-container > .home-page-content {
        padding: 1.8rem;
    }

    .home-page-content > .task-wrapper {
        padding: 1.6rem;
    }

    .modal-container > .modal {
        width: 50%;
    }

    .modal-container > .modal > .modal-question {
        width: 100%;
    }
}

@media(min-width: 1024px) {
    .welcome-message {
        margin-bottom: 2rem;
    }

    .home-page-container > .menu-bar-home-page {
        width: 50rem;
        justify-content: space-between;
    }

        .home-page-container > .menu-bar-home-page > p,
        .home-page-container > .menu-bar-home-page > button,
        .home-page-container > .figure-balloon-empty > figcaption {
            font-size: 1.7rem;
        }

    .home-page-container > .figure-balloon-empty {
        width: 40rem;
    }

    .home-page-content > .task-wrapper {
        transition: margin .6s;
    }

    .home-page-content > .task-wrapper:hover,
    .home-page-content > .task-wrapper:active {
        margin-left: .6rem;
        margin-right: -0.6rem;
    }

    .modal-container > .modal {
        width: 40%;
    }

        .modal-container > .modal > form[name="delete-task"] > .button-delete {
            padding: 1rem 2rem;
        }
}
