:root {
    font-size: 62.5%;
    --color-first: #E63946;
    --color-second: #457B9D;
    --color-second-dark: #1D3557;
    --color-second-light: #A8DADC;
    --color-white: #F1FAEE;
}

* {
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
}

.bg-color-first {
    background-color: var(--color-first);
}

.header {
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .header > .home-link > h2 {
        color: var(--color-white);
        text-align: center;
    }

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

    .footer .footer-description {
        font-size: 2rem;
        color: var(--color-white);
        text-align: center;
    }
