@model int

@{ 
    ViewBag.Title = $"Erro {Model}";
}

@section Styles {
    <link href="@Url.Content("~/error_status_code_page.min.css")" rel="stylesheet" />
}

<div>
    @if (Model == 404)
    {
        <img src="@Url.Content("~/img/balloon-empty.svg")" alt="Balão vazio" />
        <p>Erro @Model.</p>
        <p>A página que você estava procurando não existe ou foi removida.</p>
    }
    else
    {
        <p>Erro: @Model</p>
        <p>Ocorreu um erro inesperado.</p>
    }
</div>