@model int

@{ 
    ViewBag.Title = $"Erro {Model}";
}

@section Styles {
    <link href="@Url.Content("~/css/error_status_code_page.min.css")" rel="stylesheet" />
}

<div class="page-container">
    @if (Model == 404)
    {
        <img src="@Url.Content("~/img/balloon-empty.svg")" alt="Balão vazio" />
        <p class="error-code">Erro @Model.</p>
        <p class="error-description">A página que você estava procurando não existe ou foi removida.</p>
    }
    else
    {
        <p class="error-code">Erro: @Model</p>
        <p class="error-description">Ocorreu um erro inesperado.</p>
    }
</div>